{% extends "events/base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block content %}

{#    {% for post in posts %}#}
{##}
{#       <div class="card" style="width: 22rem;">#}
{#            <div class="card-body">#}
{#                <h5 class="card-title"> {{post.title}}  </h5>#}
{#                <h5 class="card-title"> {{ post.user }} </h5>#}
{#                <h6 class="card-subtitle mb-2 text-body-secondary"> {{ post.created }} </h6>#}
{#                <span class="badge bg-primary rounded-pill"> {{ post.comment_count }} </span>#}
{#                <a href="/post/{{ post.id }}/show" class="btn btn-primary" >Show</a>#}
{#                {%  if post.user == request.user %}#}
{#                    <a href="/post/{{ post.id }}/edit" class="btn btn-success">Edit</a>#}
{#                    <a href="/post/{{ post.id }}/delete" class="btn btn-warning">Delete</a>#}
{#                {% endif %}#}
{#            </div>#}
{#       </div>#}
{#    {% endfor %}#}

{% endblock %}

</html>