
<form action="{% url 'add' event_id %}" method="post">
      {% csrf_token %}

      <div class="mb-3">
          <label for="comment-id" class="form-label">Comment</label>
          <textarea class="form-control" required name="content" id="comment-id" rows="2"></textarea>
      </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"->
                <button type="submit">Add your comment</button>
                <a href="/" class="btn btn-primary" style="display: flex; justify-content: center; align-items: center; width: 10%; height: auto; ">HOME</a>
            </div>
        </div>
</form>