{% extends "events/base.html" %}
<html lang="en">

{% block content %}
    {% csrf_token %}

    <div class="select2-container" style="display: flex; justify-content: center; align-items: center;">
        <div class="card-body">
            <h1 class="card-title" style="display: flex; justify-content: center; align-items: center;">Вы подписаны на это событие</h1>
{#            <h2 class="card-subtitle mb-3 text-body-secondary" style="display: flex; justify-content: center; align-items: center;"> {{ event.meeting_time }} </h2>#}
            <a href="/" class="btn btn-primary" style="display: flex; justify-content: center; align-items: center; width: 10%; height: auto; ">HOME</a>
        </div>

    </div>


{% endblock %}

</html>